/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

.login {
  font-family: "Urbanist", sans-serif;
}

.navbar-login {
  height: 88px;
  padding: 16px 120px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #F6F6F6;
  font-family: "Urbanist", sans-serif;
}

.navbar-login .logo {
  font-size: 16px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19.2px;
}

.navbar-login .right-bar {
  font-weight: 400;
  font-size: 18px !important;
  line-height: 27px;
}


/* Welcome */
.welcome {
  height: calc(100vh - 88px);
  font-family: "Urbanist", sans-serif;
}

.icon {
    color: #7939FF;
    font-size: 50px;
    display: flex;
    /* justify-content: center; */
    margin: 0 auto 40px;
}

.info {
    text-align: center;
    margin-bottom: 30px;
}

.info h1 {
    font-size: 48px;
    font-weight: bold;
}

.check {
    width: 430px;
}

.submit {
    width: 364px;
    height: 50px;
    padding: 16px 48px !important;
    margin: 0 auto;
    border: none !important;
    font-size: 16px !important;
    font-weight: bold !important;
    background-color: #7939FF !important;
    border-radius: 22px !important;
    -webkit-border-radius: 22px !important;
    -moz-border-radius: 22px !important;
    -ms-border-radius: 22px !important;
    -o-border-radius: 22px !important;
  }

  .again {
    width: 260px;
    font-size: 12px;
    margin: 0 auto;
  }